@using System.Web.UI.WebControls
@{ Layout = null;}

<html>
<head> 
   <title>KaiSpy</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/App")
    @Styles.Render("~/Content/css")
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
</head>
<body>

    <nav></nav>
<div id="left">

</div>
    <aside id='map-canvas'></aside>
<section>

</section>
<footer>

</footer>
</body>
</html>