@using System.Web.UI.WebControls
@{ Layout = null;}

<html>
<head> 
   <title>KaiSpy</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/App")
    @Styles.Render("~/Content/css")
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
</head>
<body>
    <header><img src="~/Content/imgs/KaiSpy logo.png"/>
    </header>

    <aside id="pref">
        <h3>Preferences:</h3>
        <form id ="foodtype">
            <input type="checkbox" value="asian"/><label>
                Asian
            </label>
            <input type="checkbox" value="itialian"/>Italian
            <input type="checkbox" value="mexican"/> Mexican
            <input type="checkbox" value="french"/>French
            <input type="checkbox" value="Middle Eastern"/> Middle Eastern
        </form>
    </aside>

    <section id ='map-canvas'>
    </section>

    <section id="details">
        <h3>Detail here</h3>
    </section>

    <footer>
        footer here
    </footer>
</body>
</html>