@{ Layout = null;}

<html>
<head>
    <title>KaiSpy</title>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/App")
    @Styles.Render("~/Content/css")

    
    //Blanket.JS Scripts - Ash
    <script src="blanket.js"></script>
    //Every JS file needs to be referenced
@*    <script src="my-library.js" data-cover></script>*@





    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>

</head>
<body>
    <header><img src="~/Content/imgs/KaiSpy logo.png"/></header>

    <aside id="pref">
        <h3>Preferences:</h3>

        <form id="foodtype">

        </form>
        <button id="remove-all-pins" type="button">Clear All</button>
        <button id="add-all-pins" type="button">Show All</button>
        <input id="search-radius-slider" type="range" min="1" max="10" value="3" oninput="SetCircleRadiusBySlider(this.value)"/>
        <span id="search-radius">3 km</span>
    </aside>

    <section id='map'>
        <div id='map-canvas'></div> 
    </section>

    <section id="details">
        <h3>Detail here</h3>
    </section>

    <footer>
        footer here
    </footer>
</body>
</html>